<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}Firmware Platformer{% endblock %}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>

<header>
    {% include 'partials/header.html.twig' %}
</header>

<main>
    {% block body %}{% endblock %}
</main>

<footer>
    {% include 'partials/footer.html.twig' %}
</footer>

{% block javascripts %}
    <!-- Bootstrap -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
{% endblock %}

</body>
</html>
