A project created in PHP 8.x, utilizing the Symfony framework, and shared on Git:
    GitHub: karolb
    GitLab: @karol.b
    Bitbucket: karol@bojski.dev

-. Instructions on how to run the application.
2. Collection of requests in Postman or Insomnia, along with instructions on how to use the API.
-. Implementation of the Model-View-Controller (MVC) pattern, including the use of:
    Controllers
    Entities
    Repositories
    Services
-. Use of fixtures to load data.
-. A key-value data structure implemented in a relational database (e.g., PostgreSQL) for storing user information or other data.
-. Use of the Query Builder (QB).
-. An API data formatter.
-. Implementation of users, groups, authorization, and permissions in functions.
-. Two custom CLI commands (e.g., add user).
10. Unit tests written with PHPUnit (minimum of 10).
-. Custom error handling in PHP/Symfony.
12. Bhat tests (minimum of 10).
-. Use of an SQL database (PostgreSQL).
